<div class="">
  <div class="">
    <h2>Your Workouts:</h2>
  </div>
  <div class="">
    <% if @user.workouts.count > 0 %>
      <ol>
        <% @user.workouts.each do |workout| %>
        <li>
          <%= workout.name %> <a href="/workouts/<%= workout.id %>">View</a> <a href="/workouts/<%= workout.id %>/edit">Edit</a>
        </li>
        <% end %>
      </ol>
    <% else %>
    <p>You have not created any workouts!</p>
    <% end %>
  </div>
</div>
<br>
<div class="">
  <p><a href="/workouts/new">Click here</a> to create a new workout.</p>
  <p><a href="/exercises">Click here</a> to view all exercises.</p>
  <p><a href="/exercises/new">Click here</a> to create a new exercise.</p>
</div>
