
<div class="container">
  <h1><strong>Welcome <%= current_user.first_name %>!</strong></h1>

  <div class="row user-main">

      <div class="col-lg-1"></div>
      <div class="col-lg-4 panel panel-default center-block">
        <a href="/workouts">
          <img src="/images/dumbbell-variant-outline.png" class="img-fluid center-block">
          <p class="text-center"><strong>View Workouts</strong></p><br>
        </a>
      </div>
            <div class="col-lg-2"></div>
      <div class="col-lg-4 panel panel-default center-block">
        <a href="/exercises">
          <img src="/images/weightlifting-icon-abs.png" class="img-fluid center-block">
          <p class="text-center"><strong>Find Exercises</strong></p><br>
        </a>
      </div>
      <div class="col-lg-1"></div>

  </div>
</div>
