
  <div class="">
    <h1>Welcome <%= @user.first_name %>!</h1>
  </div>

<br>
<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="col-md-6 panel panel-default" style="display: inline-block;">
    <a href="/workouts">
      <img src="/images/dumbbell-variant-outline.png" class="img-responsive center-block" style="width:50%;" width="255" height="255">
      <p class="text-center"><strong>View Workouts</strong></p><br>
    </a>
  </div>

  <div class="col-md-6 panel panel-default" style="display: inline-block;">
    <a href="/exercises">
      <img src="/images/exercise.png" class="img-responsive center-block" style="width:50%;" width="255" height="255">
      <p class="text-center"><strong>Find Exercises</strong></p><br>
    </a>
  </div>

</div>
<div class="col-md-3"></div>
