<% if @signup_error%>
  <div class="login_signup_error">
    There was a problem signing up your account. Please make sure you include all fields.
  </div>
<% end %>

<% if @signup_duplication_error%>
  <div class="login_signup_error">
    An account with that username or e-mail already exists. Please login to continue.
  </div>
<% end %>

<h1>Sign Up For FitTracker</h1>

<form action="/signup" method="post">
  <p>Username: <input type="text" name="username"></p>
  <p>
    First Name: <input type="text" name="first_name"></p>
    Last Name: <input type="text" name="last_name">
  </p>
  <p>E-mail Address: <input type="text" name="email"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit" name="" value="Sign Up">
</form>
