<div class="welcome-main">
  <div class="bg"></div>
  <div class='jumbotron'>
      <h1 class='display-4'><strong>Welcome to FitTracker!</strong></h1>
      <p class="lead">Track your workouts. See your progress. Get fit.</p>
  </div>

  <div class="well-sm">
      <a class="btn btn-lg btn-info btn-block" href="/login">Log In</a>
      <a class="btn btn-lg btn-primary btn-block" href="/signup">Sign Up</a>
  </div>

</div>
