<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="/images/venice-beach-weight-lifter-main-photo.jpg" class="img-responsive">
           <div class="carousel-caption row center-block" style="position: absolute; top: 10%">
             <h1><strong>Welcome to FitTracker</strong></h1>
             <div class="well-sm">
                 <h3><strong><a href="/login" style="color:white">Log In</a></strong> or </strong><a href="/signup" style="color:white">Sign Up</a></strong></h3>
             </div>
             <div class="row hidden-xs">
               <br>
               <div class="col-sm-4">
                 <img src="/images/numbered-list.png" class="img-responsive center-block" style="width:35%" alt="Image">
               </div>
               <div class="col-sm-4">
                 <img src="/images/weightlifting-icon.png" class="img-responsive center-block" style="width:40%" alt="Image">
               </div>
               <div class="col-sm-4">
                 <img src="/images/gym-icon.png" class="img-responsive center-block" style="width:40%" alt="Image">
               </div>
             </div>
             <br>
             <div class="row hidden-xs">
               <div class="col-sm-4">
                 <p style="position: relative; left: 5%">Track Workouts.</p>
               </div>
               <div class="col-sm-4">
                 <p style="position: relative;">Make Progress.</p>
               </div>
               <div class="col-sm-4">
                 <p style="position: relative; right: 4%">Get Strong.</p>
               </div>
             </div>
           </div>
        </div>
    </div>
</div>
