<% if @exercise_creation_error %>
<div class="alert alert-danger">
  An exercise with that name already exists. Please try creating a different exercise.
</div>
<% end %>

<div class="container">
  <div class="">
    <h1><strong>Create New Exercise</strong></h1>
  </div>

  <form action="/exercises" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="name" required autofocus>
    </div>
    <div class="form-group">
      <label for="name">Description:</label>
      <textarea name="description" class="form-control"; rows="6" cols="50" required></textarea>
    </div>
    <div class="form-group">
      <label for="weight_type">Weight Type:</label>
      <select name="weight_type" class="form-control">
        <option value="Barbell">Barbell</option>
        <option value="Dumbbell">Dumbbell</option>
        <option value="Machine">Machine</option>
        <option value="Reps Only">Reps Only</option>
      </select>
    </div>
    <div class="form-group">
      <label for="body_part">Body Part:</label>
      <select name="body_part" class="form-control">
        <option value="Legs">Legs</option>
        <option value="Chest">Chest</option>
        <option value="Shoulders">Shoulders</option>
        <option value="Arms">Arms</option>
        <option value="Back">Back</option>
        <option value="Abdominals">Abdominals</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
  <br>
</div>
