<div class="">
  <h1>Exercise: <%= @exercise.name %></h1>
</div>

<div class="">
  <p>Weight Type: <%= @exercise.weight_type %></p>
</div>

<div class="">
  <p>Description: <%= @exercise.description %></p>
</div>

<% if @exercise.user_id == current_user.id %>
<div class="">
  <p><a href="/exercises/<%= @exercise.id %>/edit">Click Here</a> To Edit This Exercise</p>
</div>
<% end %>
